extends ~@/layout
block title
  title

block content

  - const { slider } = require('./data.js')
  - const css = require('./_css.json')

  div(id='index-pg' class=css.indexPg)

    div(class=css.slider class='_slider swiper-container')
      div(class=css.sliderWrap class='swiper-wrapper')
        each slide in slider
          div(class=css.slide class='swiper-slide')
            img(class=css.slideImg src=require('./img/slide-1.png') alt='Изображение')
            div(class=css.slideContent)
              span(class=css.slideCollection) Коллекция
              h6(class=css.slideCollectionName)= slide.name
              p(class=css.slideText)= slide.text
      
      //- div(class=css.sliderNav)
      //-   button(class=css.sliderBtnPrev class='_prev')
      //-     img(class=css.sliderArrow src=require('./img/arrow.svg') alt='Изображение')
      //-   button(class=css.sliderBtnNext class='_next')
      //-     img(class=css.sliderArrow src=require('./img/arrow.svg') alt='Изображение')

      div(class=css.sliderPagination class='_pagination')

      div(class=css.slider)